  .contactInfo {
    z-index: 1;
    min-width: 96%;
    min-height: 98vh;
    margin: 2%;
    border-radius: 4px;
    box-shadow: 3px 3px 6px #111;
    background: url('http://yetimountainhome.com/images/everest-ymh-trek.jpg');
    background-size: cover;
    background-color: black;
    background-blend-mode: screen;
    display: flex;
    flex-direction: row;
  }

  .contactTitleBox {
    padding: auto;
    margin: 40px 25px 0 0;
  }

  .contactPageTitle {
    align-items: center;
    transform: rotate(90deg);
    font-size: 6em;
    color: white;
    font-family: 'Rubik', serif;
    text-shadow: 2px 2px 4px black;
  }

  .myContactInfo {
    border: 1px solid white;
    background: #bdc6b6;
    margin: 15px 20px 15px;
    padding-top: 25px;
    box-shadow: 2px 2px 2px black;
  }

  .contactMenuBox {
    margin-left: 50px;
  }

  .contactFormBox {
    border: 2px solid white;
    margin: 50px 20px 20px 0;
    opacity: .9;
    background: #70776b;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-around;
  }

  .contactTopForm {
    display: flex;
    flex-direction: row;
  }

  .contactBottomForm {}

  .myContactHeader {
    color: white;
    font-family: 'Oswald', serif;
    text-shadow: 1px 1px 3px black;
  }

  .myContactData {
    color: black;
    font-weight: 900;
    font-family: 'Rubik', serif;
    margin-top: 25px;
  }

  input[type=text] {
    box-shadow: 2px 2px 2px black;
    padding-left: 12px;
    width: 90%;
  }

  input[type=email] {
    box-shadow: 2px 2px 2px black;
    padding-left: 12px;
    width: 100%;
  }

  textarea {
    box-shadow: 2px 2px 2px black;
    padding-left: 12px;
    min-width: 100%;
  }

  .contactName {
    opacity: 1;
    color: black;
    text-shadow: 0px 0px 4px white;
    font-size: 1.5em;
    font-family: 'Oswald', serif;
    font-weight: 900;
    margin-right: 5px;
    margin-bottom: 0px;
  }

  .contactMessage {
    opacity: 1;
    color: black;
    text-shadow: 0px 0px 4px white;
    font-size: 1.5em;
    font-family: 'Oswald', serif;
    font-weight: 900;
    margin-bottom: 0px;
  }

  .contactEmail {
    opacity: 1;
    color: black;
    font-size: 1.5em;
    text-shadow: 0px 0px 4px white;
    font-family: 'Oswald', serif;
    font-weight: 900;
    margin-bottom: 0px;
    margin-right: 5px;
  }

  .submitContactInfo {
    background: #f78320;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    box-shadow: 2px 2px 4px black;
  }

  .submitContactInfo:hover {
    background: #b76219;
    color: black;
    box-shadow: 1px 0px 1px black;
  }

  .contactTitleMobile {
    display: none;
  }

  .contactIcons {
    color: white;
    margin-right: 10px;
    font-size: 2em;
    text-shadow: 2px 2px 4px black;
  }

  .contactPageLink {
    font-family: 'Bungee Shade', serif;
    font-size: 2.5em;
    color: #fff;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .contactPageLink:hover {
    font-family: 'Bungee Shade', serif;
    font-size: 2.5em;
    color: #fff;
    cursor: pointer;
    margin-bottom: 0;
  }

  .contactPageBracketLink {
    font-family: 'Animo', serif;
    color: #000;
  }

  .contactHamburger.glyphicon.glyphicon-menu-hamburger {
    font-size: 1.5em;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
  }

  .contactPageDropdown:hover .contact-dropdown-content {
    display: block;
  }

  .contact-dropdown-content {
    display: none;
    position: relative;
    opacity: 1;
    width: 125px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 2;
  }

  .contact-dropdown-content a {
    color: #000;
    background: #a2aa9b;
    /* background: -webkit-linear-gradient(right, #0B2545, #BEE9E8, #62B6CB);
    background: -o-linear-gradient(left, #0B2545, #BEE9E8, #62B6CB);
    background: -moz-linear-gradient(left, #0B2545, #BEE9E8, #62B6CB);
    background: linear-gradient(to left, #0B2545, #BEE9E8, #62B6CB); */
    font-family: 'Monoton', serif;
    padding: 12px 16px;
    border: 2px solid #fff;
    margin-top: 10px;
    border-radius: 2%;
    text-decoration: none;
    display: block;
    box-shadow: 2px 2px 4px #000;
    cursor: pointer;
  }

  .contact-dropdown-content a:hover {
    background: -webkit-linear-gradient(left, white, #BEE9E8, #62B6CB);
    background: -o-linear-gradient(right, white, #BEE9E8, #62B6CB);
    background: -moz-linear-gradient(right, white, #BEE9E8, #62B6CB);
    background: linear-gradient(to right, #bdc6b6, #70776b);
    text-shadow: 1px 1px 6px #fff;
    font-weight: 600;
  }

  .aboutPageDropdown:hover .contact-dropdown-content {
    display: block;
  }

  @media screen and (max-width: 900px) {
    .contactInfo {
      display: flex;
      flex-direction: column;
    }
    .contactFormBox {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
    .contactEmail {
      margin-left: 0px;
    }
    .contactTitleBox {
      display: none;
    }
    .contactTitleMobile {
      display: block;
      color: #000;
      text-shadow: 0px 0px 6px #fff;
      font-family: 'Dosis', serif;
      font-size: 5em;
    }
    .myContactInfo {
      border: 0px;
      width: 85%;
      box-shadow: 0px 0px 1px black;
    }
    .contactPageLink {
      display: none;
    }
    .contactHamburger.glyphicon.glyphicon-menu-hamburger {
      display: none;
    }
  }

  @media screen and (max-width: 1075px) {
    .aboutPageBracketLink {
      display: none;
    }
  }
