.portfolioBackground {
  min-width: 100vw;
  min-height: 100vh;
  background: #336699;
  background: -webkit-linear-gradient(#336699, #28666E, #336699);
  background: -o-linear-gradient(#336699, #28666E, #336699);
  background: -moz-linear-gradient(#336699, #28666E, #336699);
  background: linear-gradient(#336699, #28666E, #336699);
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolioHeader {
  color: #fff;
  font-family: 'Oswald', serif;
  margin-bottom: 75px;
  text-shadow: 2px 2px 4px black;
}

/*////////// PORTFOLIO MENU ///////////////*/

.portfolioMenu {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 0px;
  align-items: center;
  position: sticky;
  z-index: 5;
  top: 1px;
  background: #700e05;
  padding: 2px;
  border-radius: 2px;
}

.portfolioMenu:hover {
  text-shadow: -0px -0px 0 #fff, 0px -0px 0 #fff, -0px 1px 0 #700e05;
}

.glyphicon-menu-hamburger {
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

.dropdown {
  position: fixed;
  top: 0;
  align-self: flex-start;
  z-index: 5;
}

.dropdown-content {
  display: none;
  position: fixed;
  opacity: 1;
  min-width: 100px;
  margin-left: 20px;
  z-index: 5;
  margin-top: 0px;
}

.dropdown-content a {
  color: #fff;
  background: #ad2e2e;
  font-family: 'Oswald', serif;
  padding: 6px 8px;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 8%;
  text-decoration: none;
  display: block;
  box-shadow: 1px 1px 4px #111;
  cursor: pointer;
  font-size: 18px;
  text-shadow: 1px 1px 1px #000;
  z-index: 5;
}

.dropdown-content a:hover {
  background: #5b0303;
  border: 1px solid #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.homeLink {
  font-family: 'Bungee Shade', serif;
  font-size: 2.5em;
  color: #fff;
  cursor: pointer;
  margin-bottom: 0;
}

.homeLink:hover {
  font-family: 'Bungee Shade', serif;
  font-size: 2.5em;
  color: #fff;
  cursor: pointer;
  margin-bottom: 0;
}

/*///////////////////////////////////////////
///////////// PROJECT ITEMS ////////////////*/

.portfolioDescription {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.5em;
  width: 70vw;
  color: #fff;
  font-family: 'Lato', serif;
}

.projectBox {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
  border-bottom: 2px solid #fff;
  box-shadow: 0 10px 6px -6px #111;
}

.projectDescriptionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectDescription {
  height: 200px;
  width: 400px;
  text-align: center;
  margin: 10px auto;
  color: #fff;
  font-family: 'Lato', serif;
}

.projectHeader {
  width: 250px;
  margin: 10px 0 20px 0;
  object-fit: cover;
  border-radius: 2%;
  box-shadow: 2px 2px 5px 0px black;
}

.screenShot {
  width: 370px;
  object-fit: contain;
  max-height: 250px;
  margin: 1px 20px;
  margin-top: 25px;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .screenShot {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .glyphicon-menu-hamburger {
    display: none;
  }
  .dropdown-content {
    margin-left: 0;
  }
  .projectBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    margin: 1px 8px;
    margin-top: 15px;
  }
  .projectDescription {
    width: 90%;
  }
}
