.portfolioBackground {
  min-width: 100vw;
  min-height: 100vh;
  background: #336699;
  background: -webkit-linear-gradient(#336699, #28666E, #336699);
  background: -o-linear-gradient(#336699, #28666E, #336699);
  background: -moz-linear-gradient(#336699, #28666E, #336699);
  background: linear-gradient(#336699, #28666E, #336699);
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolioHeader {
  color: white;
  font-family: 'Oswald', serif;
  margin-bottom: 75px;
  text-shadow: 2px 2px 4px black;
}


/*////////// PORTFOLIO MENU ///////////////*/

.portfolioMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 5;
  top: 0;
}

.portfolioMenu:hover {
  text-shadow: -0px -0px 0 white, 0px -0px 0 white, -0px 1px 0 red;
}

.glyphicon-menu-hamburger {
  font-size: 1.5em;
  color: white;
}

.dropdown {
  position: fixed;
  margin-top: 60px;
  top: 0;
  align-self: flex-start;
  z-index: 5;
}

.dropdown-content {
  display: none;
  position: fixed;
  opacity: 1;
  min-width: 100px;
  margin-left: 20px;
  z-index: 5;
}

.dropdown-content a {
  color: navy;
  background: #8cc2f7;
  background: -webkit-linear-gradient(right, white, white, #8cc2f7);
  background: -o-linear-gradient(left, white, white, #8cc2f7);
  background: -moz-linear-gradient(left, white, white, #8cc2f7);
  background: linear-gradient(to left, white, white, #8cc2f7);
  font-family: 'Monoton', serif;
  padding: 12px 16px;
  border: 2px solid black;
  margin-top: 10px;
  border-radius: 8%;
  text-decoration: none;
  display: block;
  box-shadow: 3px 3px 6px grey;
  cursor: pointer;
  z-index: 5;
}

.dropdown-content a:hover {
  background: #f7e1e1;
  background: -webkit-linear-gradient(left, white, #f7e1e1, #8cc2f7);
  background: -o-linear-gradient(right, white, #f7e1e1, #8cc2f7);
  background: -moz-linear-gradient(right, white, #f7e1e1, #8cc2f7);
  background: linear-gradient(to right, white, #f7e1e1, #8cc2f7);
  font-weight: 600;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.homeLink {
  font-family: 'Bungee Shade', serif;
  font-size: 2.5em;
  color: white;
  cursor: pointer;
  margin-bottom: 0;
}

.homeLink:hover {
  font-family: 'Bungee Shade', serif;
  font-size: 2.5em;
  color: white;
  cursor: pointer;
  margin-bottom: 0;
}

.bracketLink {
  font-family: 'Animo', serif;
  color: white;
}


/*///////////////////////////////////////////
///////////// PROJECT ITEMS ////////////////*/

.portfolioDescription {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.5em;
  width: 70vw;
  color: white;
  font-family: 'Lato', serif;
}

.projectBox {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 0;
}

.projectDescriptionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectDescription {
  height: 200px;
  width: 400px;
  text-align: center;
  margin: 10px auto;
  color: white;
  font-family: 'Lato', serif;
}


/*/////////////// FLIZZ ITEMS ////////////////*/

.projectHeaderFlizz {
  width: 275px;
  height: 100px;
  border: 1px white solid;
  margin: 10px 0 20px 0;
  object-fit: cover;
  border-radius: 2%;
  box-shadow: 2px 2px 5px 0px black;
}

.flizzScreenShot {
  width: 420px;
  border-radius: 2%;
  box-shadow: 2px 2px 5px 0px black;
  border: 1px white solid;
  object-fit: cover;
  height: 300px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0;
}


/*//////////////// JELLO ITEMS /////////////*/

.projectHeaderJello {
  width: 175px;
  height: 100px;
  border: 1px white solid;
  margin: 10px 0 20px 0;
  object-fit: cover;
  border-radius: 2%;
  box-shadow: 2px 2px 5px 0px black;
}

.jelloScreenShot {
  width: 475px;
  border-radius: 2%;
  box-shadow: 2px 2px 5px 0px black;
  border: 1px white solid;
  object-fit: cover;
  height: 300px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0;
}


/*////////////// REGXPRESS ITEMS ///////////////*/

.projectHeaderRegxpress {
  width: 250px;
  height: 90px;
  border: 1px grey solid;
  margin: 10px 0 20px 0;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 2px 2px 5px 0px black;
}

.regxpressScreenShot {
  width: 500px;
  border-radius: 2%;
  box-shadow: 2px 2px 5px 0px black;
  border: 1px grey solid;
  object-fit: cover;
  height: 300px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .jelloScreenShot {
    display: none;
  }
  .flizzScreenShot {
    display: none;
  }
  .regxpressScreenShot {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .bracketLink {
    display: none;
  }
  .glyphicon-menu-hamburger {
    display: none;
  }
  .dropdown-content {
    margin-left: 0;
  }
  .projectBox {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
  }
  .projectDescription {
    width: 80%;
  }
}
