.resumePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #8fa2b7;
  background: -webkit-linear-gradient(#999, #8fa2b7, #5D737E);
  background: -o-linear-gradient(#999, #8fa2b7, #5D737E);
  background: -moz-linear-gradient(#999, #8fa2b7, #5D737E);
  background: linear-gradient(#999, #8fa2b7, #5D737E);
  min-width: 96%;
  min-height: 98vh;
  margin: 2%;
  border-radius: 4px;
  box-shadow: 3px 3px 6px #111;
}

.resume-logo-menu {
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.resumeHeader {
  color: white;
  font-family: 'Oswald', serif;
  text-shadow: 1px 1px 2px #333;
  margin-top: 0px;
}

.myResume {
  z-index: 3;
  width: 60%;
  height: 100%;
  margin: 15px 0 25px 0;
  box-shadow: 4px 4px 10px black;
  border: 1px white solid;
}

.printResume {
  text-decoration: none;
  color: black;
  font-family: 'Oswald', serif;
  border: solid 1px #7cb852;
  padding: 3px;
  border-radius: 2px;
  background: white;
  box-shadow: 2px 2px 4px black;
  margin: 5px;
}

.printResume:hover {
  text-decoration: none;
  color: black;
  /*background: #f7e1e1;*/
  box-shadow: 0px 0px 2px black;
}

/*/////////// RESUME MENU /////////////////
/////////////////////////////////////////*/

.resumeMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 5;
}

.resumeMenu:hover {
  text-shadow: -0px -0px 0 white, 0px -0px 0 white, -0px 1px 0 blue;
}

.dropdown-content-resume {
  display: none;
  position: fixed;
  opacity: 1;
  margin-top: 1px;
  min-width: 100px;
  margin-left: 20px;
  z-index: 5;
}

.dropdown-content-resume a {
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  background: #7cb852;
  font-family: 'Oswald', serif;
  padding: 6px 8px;
  border: 1px solid #111;
  margin-top: 5px;
  border-radius: 4px;
  text-decoration: none;
  display: block;
  box-shadow: 1px 1px 4px #111;
  font-size: 18px;
  cursor: pointer;
  z-index: 5;
}

.dropdown-content-resume a:hover {
  background: #213a31;
}

.dropdown-resume:hover .dropdown-content-resume {
  display: block;
}

.dropdown-resume {
  margin-top: 10px;
  top: 0;
  align-self: flex-start;
  z-index: 5;
}

.resumeHamburger {
  display: block;
  color: black;
  text-shadow: 1px 1px 4px white;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .myResume {
    width: 98%;
    margin-top: 5px;
  }
  /* .resumeHeader {
    display: none;
  } */
}

@media screen and (max-width: 500px) {
  .resume-logo-menu {
    margin-top: -10px;
  }
  .resumeHamburger {
    margin-top: -10px;
  }
}
