.resumePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f8fff4;
}

.myResume {
  z-index: 3;
  width: 60%;
  height: 100%;
  margin: 15px 0 25px 0;
  box-shadow: 4px 4px 10px black;
  border: 1px white solid;
}

.printResume {
  text-decoration: none;
  color: black;
  font-family: 'Oswald', serif;
  padding: 3px;
  border-radius: 2px;
  background: #e6f7dc;
  box-shadow: 2px 2px 4px black;
  margin: 5px;
}

.printResume:hover {
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 2px black;
}

.linkedInButton {
  text-decoration: none;
  color: #fff;
  padding: 3px;
  border-radius: 2px;
  background: #225989;
  box-shadow: 2px 2px 4px black;
  margin: 5px;
}

.linkedInButton:hover {
  text-decoration: none;
  color: #fff;
  box-shadow: 0px 0px 2px black;
}

@media screen and (max-width: 800px) {
  .myResume {
    width: 98%;
  }
  .resumePage {
    padding-top: 60px;
  }
}

@media screen and (max-width: 500px) {
  .resumePage {
    padding-top: 90px;
  }
}
