<div class="menu">
  <img class="menuImage" src="images/MVLogo.png" ui-sref="home" />
  <div class="navMenu">
    <p class="menuItem" ui-sref="home">
      HOME
    </p>
    <p class="menuItem" ui-sref="portfolio">
      PORTFOLIO
    </p>
  </div>
  <i class="mobileMenu fa fa-bars" aria-hidden="true" ng-click="visible=!visible;"></i>
  <div ng-class="{'is-visible':visible}" class="menu2">
    <button type="button" class="close closeMenu" ng-click="visible=!visible;">x</button>
    <ul class="menuLinkMenu">
      <li class="menuLink" ui-sref="portfolio">PORTFOLIO</li>
      <li class="menuLink" ui-sref="home">HOME</li>
    </ul>
  </div>
</div>

<div class="resumePage">
  <a class="printResume" href="https://talent.galvanize.com/attachments/store/9d04ca5fe022087e0f851475e5991178879e22b8b9d32e1d4ce89d9e8511/MVictorResume.pdf" target="_blank">printable resume</a>
  <a class="linkedInButton" href="https://www.linkedin.com/in/matthew-victor/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
  <img class="myResume" src="images/resume.png" />
</div>
